@use "../../assets/scss/variables";
@use "../../assets/scss/mixin";

.modal-block{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: variables.$light-black;
  z-index: 11;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  @include mixin.screen-max-width-991{
    display: none;
  }


  &.active{
    opacity: 1;
    visibility: visible;
  }
}
.modal-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

