

@font-face {
    font-family: 'Sen',sans-serif;
    src: url('Sen-Regular.woff') format('woff'),
    local('Sen-Regular.woff.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Sen',sans-serif;
    src: url('Sen-SemiBold.woff') format('woff'),
    local('Sen-SemiBold.woff');
    font-weight: 600;
}

@font-face {
    font-family: 'Sen',sans-serif;
    src: url('Sen-Medium.woff') format('woff'),
    local('Sen-Medium.woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Sen',sans-serif;
    src: url('Sen-Bold.woff') format('woff'),
    local('Sen-Bold.woff.woff');
    font-weight: 700;
}